c_code.c        @Sacul0457
cpp_code.cpp    @maukkis
cobol.cob       @maukkis

htmlish.html    @demoutrei

lua.lua         @thqnhz

pascal.pp       @thqnhz
perl.pl         @thqnhz
python.py       @Sacul0457

rust.rs         @thqnhz

sml.sml         @ulipink

typescript.ts   @madeline-xs
